<!DOCTYPE html>
<html ng-app="store">
<head>
  <title>Flatlander Gem store</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<body ng-controller="StoreController as store">
<div>
<ul class="list_group">
  <li class="list-group-item col-md-6" ng-repeat="product in store.products">
  <div ng-hide="store.product.soldOut">
    <h3>Product Name: {{product.name}}
      <em class="pull-right">Product Price: {{product.price | currency}}</em>
      <img ng-src="{{product.images[0].full}}"/>
    </h3>
    <section ng-controller="PanelController as panel">
      <ul class="nav nav-pills" ng-init="tab=1">
        <li ng-class="{active:panel.isSelected(1)}">
          <a href ng-click="panel.selectTab(1)">Description</a>
        </li>
        <li ng-class="{active:panel.isSelected(2)}">
          <a href ng-click="panel.selectTab(2)">Specifications</a>
        </li>
        <li ng-class="{active:panel.isSelected(3)}">
          <a href ng-click="panel.selectTab(3)">Reviews</a>
        </li>
      </ul>
      <div class="panel" ng-show="panel.isSelected(1)">
        <h4>Description</h4>
        <blockquote>{{product.description}}</blockquote>
      </div>
      <div class="panel" ng-show="panel.isSelected(2)">
        <h4>Specifications</h4>
        <blockquote>{{product.specifications}}</blockquote>
      </div>
      <div class="panel" ng-show="panel.isSelected(3)">
        <h4>Reviews</h4>
        <blockquote ng-repeat="review in product.reviews">
        <b>Stars: {{review.stars}}</b>
        {{review.body}}
        <cite>by: {{review.author}}</cite>
        </blockquote>
        <form name="reviewForm">
          <blockquote>
            <b>Stars: {{review.stars}}</b><br>
            {{review.body}}
            <cite>by: {{review.author}}</cite>
          </blockquote>
          <fieldset class="form-group">
            <select ng-model="review.stars" class="form-control" ng-options="stars for stars in [5, 4, 3, 2, 1]">
              <option value="">Rate the product</option>
            </select>
          </fieldset>
          <fieldset class="form-group">
            <textarea ng-model="review.body"></textarea>
          </fieldset>
          <fieldset class="form-group">
            <label>by:</label>
            <input ng-model="review.author" type="email"/>
          </fieldset>
          <fieldset class="form-group">
            <input type="submit" value="Submit"/>
          </fieldset>
        </form>
      </div>
    </section>
      <button ng-show="store.product.canPurchase"> Add to cart </button>
  </div>
  </li>
</ul>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
<script type="text/javascript" src="app/app.js"></script>

</body>
</html>

