<!DOCTYPE html>
<html ng-app="store">
<head>
  <title>Flatlander Gem store</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<body ng-controller="StoreController as store">
<div>
<ul class="list_group">
  <li class="list-group-item" ng-repeat="product in store.products">
  <div ng-hide="store.product.soldOut">
    <h3>Product Name: {{product.name}}
      <em class="pull-right">Product Price: {{product.price | currency}}</em>
      <img ng-src="{{product.images[0].full}}"/>
    </h3>
    <section>
      <ul class="nav nav-pills" ng-init="tab=1">
        <li ng-class="{active:tab === 1}">
          <a href ng-click="tab = 1">Description</a>
        </li>
        <li ng-class="{active:tab === 2}">
          <a href ng-click="tab = 2">Specifications</a>
        </li>
        <li ng-class="{active:tab === 3}">
          <a href ng-click="tab = 3">Reviews</a>
        </li>
      </ul>
      <div class="panel" ng-show="tab === 1">
        <h4>Description</h4>
        <blockquote>{{product.description}}</blockquote>
      </div>
      <div class="panel" ng-show="tab === 2">
        <h4>Specifications</h4>
        <blockquote>{{product.specifications}}</blockquote>
      </div>
      <div class="panel" ng-show="tab === 3">
        <h4>Reviews</h4>
        <blockquote>{{product.reviews}}</blockquote>
      </div>
    </section>
      <button ng-show="store.product.canPurchase"> Add to cart </button>
  </div>
</ul>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
<script type="text/javascript" src="app/app.js"></script>

</body>
</html>

